.slideInRight-enter {
  right: -100%;
  transition: right .4s ease-in-out;
}

.slideInRight-enter.slideInRight-enter-active {
  right: 0;
}

.slideInRight-leave {
  right: 0;
  transition: right .4s ease-in-out;
}

.slideInRight-leave.slideInRight-leave-active {
  right: -100%;
}

