:root {
  --whiteColor: #fff;
  --facebookColor: #3b5999;
  --twitterColor: #55acee;
  --googlePlusColor: #dd4b39;
  --whatsAppColor: #25D366;
  --instagramColor: #e4405f;
  --dropboxColor: #007ee5;
  --youtubeColor: #cd201f;
  --yahooColor: #410093;
}
